# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/artifacts/
/caches/
/libraries/
/modules/
/.name
/compiler.xml
/jarRepositories.xml
/misc.xml
